.grid-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5% auto 10% auto;
    width: 70%;
    column-gap: 2%;
    row-gap: 2%;
}
.margin-top{
    margin-top: -18%;
}
.arrow-class{
    border-radius: 50%;
    padding: 0.5rem 1rem;
}
.arrow-class:hover{
    transition: 0.2s;
    cursor: pointer;
    background-color: #6B77E5;
    color: #F4F4F4;
    border-radius: 50%;
    padding: 0.5rem 1rem;
}
/* RESPONSIVE */
@media screen and (min-width: 425px){
    .page-class{
        margin-top: -40%;
    }
    .text-class{
        text-align: justify;
        width: 70%;
        margin-top: 5%;
    }
    .title-class{
        text-align: center;
        padding-right: 10%;
    }
    .grid-content{
        display: block;
    }
    .grid-content div{
        margin-bottom: 5%;
    }
}
@media screen and (min-width: 1600px){
    .grid-content{
        width: 70%;
    }
    .margin-top{
        margin-top: -14%;
        width: 100%;
    }
}
@media screen and (min-width: 1920px){
    .grid-content{
        width: 70%;
    }
    .margin-top{
        margin-top: -10%;
        width: 90%;
    }
}
@media screen and (min-width: 2560px){
    .grid-content{
        width: 60%;
    }
    .margin-top{
        margin-top: -8%;
        width: 80%;
    }
}