.page-404{
    background-image: url('../assets/png/404Image.png');
}
.btn{
    background-color: #40DDB6;
    color: #2C2C2C;
    font-size: 1rem;
    padding: 1rem 3rem;
}
/* RESPONSIVE */
@media screen and (max-width: 425px){
    .page-404 h1{
        font-size: 6rem;
    }
    .page-404 h2{
        font-size: 2rem;
    }
    .page-404 p{
        width: 100%;
        padding: 4% 2%;
    }
}