.grid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
    row-gap: 4%;
    width: 70%;
    margin: 0 auto;
}
.btn{
    background-color: #6B77E5;
    color: #F4F4F4;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
.btn-green:first-child{
    border: 3px solid #535353;
}
.btn-green{
    background-color: #40DDB6;
    color: #535353;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
.width-max li{
    width: 100%;
    text-align: center;
}
.border-right{
    border-right: 1px solid #535353;
}
/* RESPONSIVE */
@media screen and (max-width: 425px){
    .page-class{
        margin-top: -30%;
    }
    .title-class{
        width: 100%;
        font-size: 1.6rem;
    }
    .grid-content{
        display: block;
    }
    .grid-content div{
        margin-bottom: 10%;
    }
    .grid-content div:last-child{
        margin-bottom: -10%;
    }
}
@media screen and (min-width: 1920px){
    .grid-content{
        width: 50%;
        margin: 0 auto;
    }
    .width-max{
        width: 100%;
        text-align: center;
    }
}
@media screen and (min-width: 2560px){
    .width-max{
        width: 96.39%;
    }
}