.grid-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    row-gap: 7%;
    width: 60%;
    margin: 0 auto;
}
.grid-content img{
    width: 100%;
}
.grid-content-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 5%;
}
.box-people{
    margin-top: -6rem;
    align-items: center;
    background-color: #FFF;
    position: relative;
    padding: 1rem 0rem;
    margin-left: 5%;
    text-align: center;
    width: 90%;
}
.purple-bg{
    transition: 0.3s;
    filter: sepia(100%) brightness(69%) hue-rotate(222deg) saturate(227%) opacity(72%) contrast(102%);
    -webkit-filter: sepia(100%) brightness(69%) hue-rotate(222deg) saturate(227%) opacity(72%) contrast(102%);
    -moz-filter: sepia(100%) brightness(69%) hue-rotate(222deg) saturate(227%) opacity(72%) contrast(102%);
    margin-top: -10%;
}
.socials{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 45%;
    left: 30%;
    top: 50%;
    z-index: 99999;
}
.socials li{
    color: #FFF;
    font-weight: bold;
    background-color: #1fc098;
    display: flex;
    position: relative;
    border-radius: 50%;
    padding: 0.2rem 0.2rem 0.2rem 0.4rem;
    cursor: pointer;
}
.bg-dark{
    background-color: #37393F;
}
/* RESPONSIVE */
@media screen and (min-width: 1920px){
    .grid-content-2{
        width: 60%;
        margin-left: 20%;
    }
    .bg-dark{
        padding: 5%;
    }
    .bg-dark h6{
        font-size: 1rem;
    }
    .bg-dark h4{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .bg-dark h3{
        font-size: 2rem;
        padding: 1rem 0;
    }
    .bg-dark p{
        font-size: 0.9rem;
    }
    .percent-class{
        font-size: 2.5rem;
        margin-bottom: 3%;
    }
}
@media screen and (min-width: 2560px){
    .grid-content{
        row-gap: 5%;
        margin-bottom: 2%;
    }
    .grid-content-2{
        width: 68%;
        margin-left: 20%;
    }
    .bg-dark{
        padding: 5%;
    }
    .bg-dark h6{
        font-size: 1rem;
    }
    .bg-dark h4{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .bg-dark h3{
        font-size: 2rem;
        padding: 1rem 0;
    }
    .bg-dark p{
        font-size: 0.9rem;
    }
    .percent-class{
        font-size: 3rem;
        margin-bottom: 5%;
    }
}